body {
    font-family: "Arial", Helvetica, sans-serif;
    background-image: url('../images/bg_body.jpg');
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    background-attachment: fixed;
}
#website_container {
    width: 1100px;
    margin: 0 auto;
}
#banner {
    width: 1089px;
    height: 216px;
    background-image: url('../images/bg_banner.png');
}
#head {
    padding: 30px 0 0 70px;
    margin: 0;
    font-size: 50pt;
    font-weight: lighter;
    height: 111px;
}
#main {
    width: 939px;
    padding: 30px 75px;
    background-image: url('../images/bg_main.png');
    min-height: 300px;
}
#title {
    margin: 0 0 5px 0;
    font-weight: lighter;
}
#bottom {
    width: 1089px;
    height: 44px;
    background-image: url('../images/bg_bottom.png');
}
#statistics_top_right {
    width: 500px;
    float: right;
    margin: 0 0 30px 15px;
}
#customize_layout {
    border-collapse: collapse;
}
#home_example {
    float: right;
    margin-left: 30px;
}
#pi_list {
    width: 600px;
    min-height: 200px;
    border: 2px solid #7c7c7c;
    float: left;
}
#pi_list_wide {
    width: 800px;
    min-height: 200px;
    border: 2px solid #7c7c7c;
    float: left;
}
#pi_list_title {
    width: 585px;
    border-bottom: 2px solid #7c7c7c;
    padding: 10px 0 10px 15px;
}
#pi_list_title_wide {
    width: 785px;
    border-bottom: 2px solid #7c7c7c;
    padding: 10px 0 10px 15px;
}
#pi_channel_box {
    min-height: 110px;
    border: 2px solid #7c7c7c;
    float: left;
    width: 220px;
    margin-left: 50px;
    padding: 45px 15px;
    text-align: center;
}
#pi_title {
    width: 655px;
    display: block;
    float: left;
}
#message {
    color: red;
}
#wifi_list {
	width: 930px;
    min-height: 200px;
    border: 2px solid #7c7c7c;
    float: left;
}
#pi_empty {
	margin-left: 30px;
	color: red;
}
#live_check {
	margin-left: 20px;
	float: left;
	color: #777777;
}
#pi_loading {
	margin-top: 10px;
	display: none;
}
#pi_loading_img {
	float: left;
}
#pi_loading_text {
	float: left;
	margin: 8px 0 0 5px;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
a.menu_link_first {
    margin-left: 70px;
}
a.menu_link {
    display: block;
    width: 190px;
    padding: 35px 10px 0 0;
    height: 30px;
    background-image: url('../images/menu.png');
    color: #ffffff;
    float: left;
    margin-right: -50px;
    text-align: center;
    text-decoration: none;
}
a.menu_link:hover {
    text-decoration: underline;
}
a.menu_link_active {
    text-decoration: underline;
}
a.control_panel_link {
    display: block;
    width: 200px;
    padding-top: 60px;
    height: 90px;
    border: 2px solid #d5d5d5;
    float: left;
    text-align: center;
    margin-right: 20px;
}
a.pi {
    background-image: url('../images/pie_bg.jpg');
}
a.user {
    background-image: url('../images/user_bg.jpg');
}
a.chart {
    background-image: url('../images/chart_bg.jpg');
}
a.password {
	background-image: url('../images/password_bg.jpg');
}
div.form_description {
    height: 30px;
    width: 100px;
    float: left;
    clear: left;
}
div.form_description_long {
    height: 30px;
    width: 150px;
    float: left;
    clear: left;
}
div.form_input {
    height: 30px;
    float: left;
}
div.clear {
    clear: both;
}
div.selection_box {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
}
div.selection_box_container {
    margin: 30px 50px 0 0;
    float: left;
}
div.layout_big {
    border: 1px solid black;
    width: 912px;
    padding: 70px 0;
    text-align: center;
    clear: left;
    margin-bottom: 10px;
}
div.layout_small {
    width: 450px;
    margin: 0 10px 10px 0;
    float: left;
    text-align: center;
    border: 1px solid black;
    padding: 70px 0;
}
div.statistics_big {
    width: 912px;
    text-align: center;
    clear: left;
    margin-bottom: 10px;
    padding-top: 30px;
}
div.statistics_small {
    width: 450px;
    margin: 0 10px 10px 0;
    float: left;
    text-align: center;
    padding-top: 30px;
}
div.wifi_line {
    width: 898px;
    padding: 15px;
    height: 20px;
    border: 1px solid #c9c9c9;
    background-color: #dadada;
}
div.wifi_line:hover {
	background-color: #dfdfdf;
}
div.wifi_item0, div.wifi_item1, div.wifi_item2, div.wifi_item3, div.wifi_item4, div.wifi_item5, div.wifi_item6, div.wifi_item7 {
	float: left;
}
div.wifi_item0 {
	width: 170px;
}
div.wifi_item1 {
	width: 200px;
}
div.wifi_item2 {
	width: 60px;
	text-align: center;
	margin-right: 5px;
}
div.wifi_item3 {
	width: 80px;
	text-align: center;
	margin-right: 15px;
}
div.wifi_item4 {
	width: 358px;
}
input.form_submit {
    clear: both;
    float: left;
    width: 300px;
    height: 50px;
    margin-top: 10px;
}
input.pi_control_submit {
    width: 147px;
    height: 50px;
    margin-top: 10px;
}
input.pi_control_submit_wide {
    width: 200px;
    height: 50px;
    margin-top: 10px;
}
input.pi_submit_last {
    margin-left: 50px;
    width: 250px;
}
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
td.customize_option {
    width: 265px;
}
label.pi_line {
    display: block;
    width: 568px;
    padding: 15px;
    border: 1px solid #c9c9c9;
    background-color: #dadada;
}
label.pi_line:hover {
    background-color: #dfdfdf;
}
label.pi_line_wide {
    display: block;
    width: 768px;
    padding: 15px;
    border: 1px solid #c9c9c9;
    background-color: #dadada;
}
label.pi_line_wide:hover {
    background-color: #dfdfdf;
}
span.pi_num {
    width: 35px;
    display: block;
    float: left;
    text-align: right;
}
span.pi_info {
    width: 160px;
    padding-left: 90px;
    display: block;
    float: left;
}
span.pi_info_wide {
    width: 340px;
    padding-left: 90px;
    display: block;
    float: left;
}
span.pi_sel {
    margin-left: -20px;
}